*checkpoint.ipynb
*.log
weave_tests
.vscode/bookmarks.json
tex/apxthy.aux
tex/apxthy.bbl
tex/apxthy.blg
tex/apxthy.fls
tex/apxthy.out
tex/apxthy.pdf
tex/apxthy.toc
tex/apxthy.exc.tex
tex/apxthy.fc.tex
tex/apxthy.sol.tex
tex/apxthy.synctex.gz
tex/apxthy.tex.bak
jl/tmp.gif
tex/apxthy.fdb_latexmk
